[project]
	description = Keystone Common Openstack Portal System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adam Young (admiyo)
[access "refs/for/refs/*"]
	read = group user/Adam Young (admiyo)
	push = group user/Adam Young (admiyo)
	label-Code-Review = -2..+2 group user/Adam Young (admiyo)
	label-Verified = -1..+1 group user/Adam Young (admiyo)
	rebase = group user/Adam Young (admiyo)
	removeReviewer = group user/Adam Young (admiyo)
	submit = group user/Adam Young (admiyo)
[access "refs/heads/*"]
	read = group user/Adam Young (admiyo)
	create = group user/Adam Young (admiyo)
	push = +force group user/Adam Young (admiyo)
	pushMerge = group user/Adam Young (admiyo)
[access "refs/tags/*"]
	push = +force group user/Adam Young (admiyo)
	pushTag = group user/Adam Young (admiyo)
	pushSignedTag = group user/Adam Young (admiyo)
